<nav>
    <div class="s-title">
        <a href="/">
            <h1>EJS LOGO</h1>
        </a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>