<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | About</title>
</head>

<body>
    <nav>
        <div class="s-title">
            <a href="/">
                <h1>EJS LOGO</h1>
            </a>
        </div>
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam provident voluptatum tempore fugit
            nesciunt alias est aspernatur iste commodi dignissimos, deleniti aperiam! Vero consequuntur labore odio sed
            quasi deleniti voluptatibus!</p>
    </div>
</body>

</html>