@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    padding: 1em 2em;
    display: inline-block;
}

nav ul {
    padding: 1em 2em;
    display: flex;
}

nav ul li {
    margin: .5em;
}

.content {
    margin: 2em;
    
}

.create {
    margin: 4em auto;
    width: 600px;}
form {
    margin: auto; 
    display: flex;
    flex-direction: column;
}

form label {
    margin: 1em 0px 0px;
}


form input {
    margin: .3em 0px 0px;
}


form button {
    margin: 1em 0;
    width: 10em;
}

footer {
    margin: 2em;

    text-align: center;
}